\.DS_Store
ipynb/Untitled\.py
ipynb/Untitled\.txt
japanese-dataset/data/word2vec\.gensim\.model
*.npy
japanese-dataset/data/words_idf\.json
ipynb/\.ipynb_checkpoints/
20news/__pycache__/
20news/200features_20minwords_10context_len2alldata
*.pkl
20news/KaggleWord2VecUtility\.pyc
japanese-dataset/livedoor-news-corpus/dokujo-tsushin/
japanese-dataset/livedoor-news-corpus/it-life-hack/
japanese-dataset/livedoor-news-corpus/kaden-channel/
japanese-dataset/livedoor-news-corpus/livedoor-homme/
japanese-dataset/livedoor-news-corpus/movie-enter/
japanese-dataset/livedoor-news-corpus/peachy/
japanese-dataset/livedoor-news-corpus/smax/
japanese-dataset/livedoor-news-corpus/sports-watch/
japanese-dataset/livedoor-news-corpus/topic-news/
japanese-dataset/livedoor-news-corpus/CHANGES\.txt
japanese-dataset/livedoor-news-corpus/README\.txt
japanese-dataset/livedoor-news-corpus/model/200features_20minwords_10context_len2alldata
ipynb/livedoor-new-corpus-test-Copy1\.py
ipynb/livedoor-new-corpus-test\.ipynb
japanese-dataset/livedoor-news-corpus/model/50features_20minwords_10context_len2alldata
japanese-dataset/livedoor-news-corpus/for-fasttext/fasttext_model_2000dim\.bin
japanese-dataset/livedoor-news-corpus/for-fasttext/fasttext_model_2000dim\.vec
japanese-dataset/livedoor-news-corpus/for-fasttext/fasttext_model_200dim\.bin
japanese-dataset/livedoor-news-corpus/for-fasttext/fasttext_model_200dim\.vec
poincare-embeddings/work/CMakeFiles/
poincare-embeddings/work/poincare_embedding
japanese-dataset/livedoor-news-corpus/poincare/embeddings\.tsv
japanese-dataset/livedoor-news-corpus/poincare/corpus\.txt
japanese-dataset/livedoor-news-corpus/model/vector-response-test/
japanese-dataset/livedoor-news-corpus/model/vector-response-test\.zip
japanese-dataset/livedoor-news-corpus/all\.csv
japanese-dataset/livedoor-news-corpus/\.ipynb_checkpoints/
ipynb/alldoc_scdv_tsne\.csv
ipynb/model\.bin
japanese-dataset/livedoor-news-corpus/model/doc2vec\.model
japanese-dataset/livedoor-news-corpus/model/temp2\.txt
japanese-dataset/livedoor-news-corpus/model/temp3\.txt
