
\.DS_Store

ipynb/Untitled\.py

ipynb/Untitled\.txt

japanese-dataset/data/word2vec\.gensim\.model

*.npy

japanese-dataset/data/words_idf\.json

ipynb/\.ipynb_checkpoints/

20news/__pycache__/

20news/200features_20minwords_10context_len2alldata

*.pkl

20news/KaggleWord2VecUtility\.pyc
